$primary-color: #63b4b8;
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");
body {
  background: linear-gradient(90deg, rgb(0, 40, 70), rgb(255, 115, 115), rgb(255, 175, 123));
  text-align: center;
  position: relative;
  min-height: 100vh;

  /* dark-mode toggle switch */
  #toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  #toggle svg {
    aspect-ratio: 1;
    object-fit: contain;
  }

  #toggle .outer-star {
    transition: transform 600ms cubic-bezier(0.59, 0.02, 0, 1.26) 0s;
  }

  #toggle .inner-dot {
    transition: transform 600ms ease 0s;
    transform: matrix(1, 0, 0, 1.5, -3, 0);
  }

  #toggle.active .outer-star {
    transform: rotate(180deg);
  }

  #toggle.active .inner-dot {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding: 3%;
    iframe {
      height: 100%;
      pointer-events: none;
      width: 10%;
    }
    h1 {
      font-family: "Gluten", cursive;
      font-size: 4rem;
      font-weight: 600;
      transition: all 1s ease-in-out 0s;
      display: inline;
    }
  }
  .container-fluid {
    padding-bottom: 5rem !important;
  }
  .main-div {
    min-height: 60vh;
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    background:rgba(255,255,255,0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    padding: 1rem 2rem;
    form {
      .form-group {
        padding: 0;
        margin: 1rem auto;
        display:flex;
        flex-direction:column;
      }
      label {
        font-size: 1rem;
        padding: 1%;
        margin-left: 3px;
        text-align: left;
      }
      #username{
        padding-right: 15px;
        text-align: left;
      }
      .form-control{
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .border-gradient {
        --one: #0098c1;
        --two: #00d721;
        padding:5px;
        border-radius: 15px;
      }
      input:focus{
        border:none;
        outline:none;
        background:white;
      }
      input {
        position: relative;
        width: 100%;
        padding: 0.65rem;
        border-radius: 5px;
        border:none;
        box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
        background: rgba( 255, 255, 255, 0.3 );
        box-shadow: 1px 1px 10px 0 rgba( 31, 38, 135, 0.15 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
      }
      
      select {
        position: relative;
        width: 100%;
        padding: 0.65rem;
        border-radius: 5px;
        border:none;
        box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
        background: rgba( 255, 255, 255, 0.3 );
        box-shadow: 1px 1px 10px 0 rgba( 31, 38, 135, 0.15 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
      }
      select:focus {
        border:none;
        outline:none;
        background:white;
      }
      button {
        font-size: 15px;
        width: 70%;
        font-weight: bold;
        background: linear-gradient(45deg, #4daaff,#0cf076);
        padding: 10px 30px;
        color: #3d3d3d;
        transition: color 1s ease 0s;
        border: 2px solid hsl(193, 100%, 50%);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 0.05s;
        transition-duration: 0.05s;
        -webkit-transition-property: box-shadow, tranform;
        transition-property: box-shadow, transform;
      }
      button:hover,
      button:focus,
      button:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #00c9ff, #92fe9e);
  opacity: 1;
  z-index: -1;
  transition: all 1s ease-in-out 0.5s;
}
#joinChat {
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 1s ease 0s;
}
.form-group {
  transition: all 1s ease-in-out 0s;
}
.dark-mode {
  color: white;
  h1 {
    color: white;
  }
  .form-group {
    color:black;
  }
  .form-group input{
    color:black;
  }
  .form-group select{
    color:black;
  }
  select {
    color: white;
    border: 3px solid white;
  }
  #joinChat {
    background: linear-gradient(45deg, #7e4c5b, #ff7f33);
    border: 2px solid #8b5858;
  }
  input {
    color: white;
  }
  select:focus {
    border: 3px solid white;
  }
  #joinChat {
    color: white;
  }
  .border-gradient {
    --one: #a80000 !important;
    --two: #ff7631 !important;
  }
}
.dark-mode::before {
  opacity: 0;
}
/*
===================================
    ***Avatars***
===================================
*/

.profile {
  width: 124px;
  height: 124px;
  margin: 30px auto;
  border-radius: 50%;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  &:hover {
    cursor: pointer;
  }
}
/*
=============================================
       ******Modal Related SCSS********
============================================
*/
.modal_div {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  // padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease 0s;
  p.btn--close-modal {
    display: block;
    text-align: right;
    margin: 0 10px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
  }
}
.modal_box {
  width: 400px;
  height: 340px;
}
/*
=============================================
       ******Slider Related SCSS********
============================================
*/

.slideshow-container {
  position: relative;
  overflow: hidden;
  .mySlides {
    width: 400px;
    height: 240px;
    margin: 0 auto;


  }
}

.mySlides {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 20px;
  position: absolute;
  top: 0px;
  transition: transform 1s;

  img {
    // vertical-align: middle;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    cursor: pointer;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 33%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: grey;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 10px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(41, 129, 151, 0.8);
}

a.next:hover {
  color: white;
}
a.prev:hover {
  color: white;
}
/* Caption text */
.text {
  color: grey;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: grey;
  font-size: 12px;
  padding: 12px 16px;
  position: absolute;
  display: block;
  top: 0px;
}
.dotBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  .active,
  .dot:hover {
    background-color: #717171;
  }
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition: all 0.3s;
}
.selectDot {
  background-color: #13b8ff !important;
  width: 20px;
  height: 20px;
  // transition: all 0.6s;
 
}

/*
=============================================
       ******Overlay Related Scss********
============================================
*/
.overlay_div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  transition: all 0.7s;
  opacity: 0.5;
  visibility: visible;
}
.overlay_hidden {
  opacity: 0;
  visibility: hidden;
}
img {
  transition: all 1s;
}

i.fa.fa-check.icon_check{
  position: absolute;
  font-weight: lighter;
  font-weight: 50;
  top: 174px;
  left: 64%;
  font-size: 40px;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a6ff;
}
i.fa.fa-check.icon_check.hidden1{
  display: none;
}
/*

=============================================
       ******Dark MODE OF modal Scss********
============================================
*/
.dark-mode {
  .darkModal {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  }
  .darkClose {
    background-color: #d7a385b3;
  }
}
@media (max-height: 768px) {
  body {
    .main-div {
      min-height: 55vh;
    }
  }
}
@media (max-width: 768px) {
  body {
    .main-div {
      padding: 5% 5% 7% 5%;
    }
    .heading {
      h1 {
        font-size: 3rem;
      }
    }
    .main-div {
      form {
        .form-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        #username{
          padding: 2.5px;
          text-align: center;
        }
        input:focus {
          width: 85%;
        }

        input {
          width: 85%;
          margin: 0;
          padding: 0;
          text-align: center;
        }
        select {
          width: 85%;
          text-align: center;
        }
        select:focus {
          text-align: center;
          width: 85%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    .heading {
      h1 {
        font-size: 2.75rem;
      }
      iframe {
        width: 15%;
      }
    }
    .profile {
      width: 84px;
      height: 84px;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
  .modal_div {
    width: 280px;
    height: 280px;
    p.btn--close-modal {
      font-size: 2rem;
    }
  }
  .modal_box {
    width: 280px;
    height: 250px;
  }
  .mySlides {
    img {
      width: 160px;
      height: 160px;
    }
  }
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
  .prev {
    left: 5px;
    
  }
  .next {
    right: 5px;
  
  }
  .selectDot {
    background-color: #13b8ff !important;
    width: 15px;
    height: 15px;
    // transition: all 0.6s;
   
  }
  
  .dot {
    width: 10px;
    height: 10px;
  }
  .slideshow-container {
    .mySlides {
      width: 280px;
      height: 240px;
    }
    height: 240px !important;
  }
  i.fa.fa-check.icon_check{
    top: 118px;
    font-size: 22px;
    width: 35px;
    height: 35px;
  }

  
}

@media (max-width: 800px) {
}
.hidden {
  opacity: 0;
  visibility: hidden;
}


//avatar form scss
#addAvatar {
  text-align: center;
  margin: 20px 0;
  h5{
    font-weight: 500;
    color: #000000;
  }
  #fileInp {
    margin: 20px auto;
    position: relative;
    display: block;
    background: #000000;
    color: #5bc0de;
    border-radius: 8px;
  }

  #upload{
    display: block;
    margin: 20px auto;
    width: 80px;
    height: max-content;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: black;
    background: #5bc0de;
    border-radius: 8px;
    cursor: pointer;
  }
}
