$primary-color: #63b4b8;
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");
body {
  background: linear-gradient(90deg, rgb(0, 40, 70), rgb(255, 115, 115), rgb(255, 175, 123));
  text-align: center;
  position: relative;
  min-height: 100vh;
  #toggle {
    width: 60px;
    height: 30px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 160px;
    background: white;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    .indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      background: black;
      transform: scale(0.9);
      border-radius: 50%;
      box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2),
        inset 0 -4px 4px rgba(255, 255, 255, 0.2);
      transition: 1s;
    }
  }
  #toggle.active .indicator {
    left: 30px;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding: 3%;
    iframe {
      height: 100%;
      pointer-events: none;
      width: 10%;
    }
    h1 {
      font-family: "Gluten", cursive;
      font-size: 4rem;
      font-weight: 600;
      transition: all 1s ease-in-out 0s;
      display: inline;
    }
  }
  .main-div {
    min-height: 60vh;
    margin: auto;
    border-radius: 20px;
    box-shadow: 11px 10px 25px 2px rgba(0, 0, 0, 0.75);
    padding: 5%;
    form {
      .form-group {
        padding: 3%;
        margin-bottom: 20px;
      }
      label {
        font-size: 1.2rem;
        padding: 1%;
      }
      input:focus {
        display: inline;
        width: 45%;
        background: none;
        border: none;
        border-bottom: 3px solid black;
        border-radius: 0px;
        outline: none;
        text-align: center;
        font-size: 20px;
      }
      input {
        display: inline;
        width: 45%;
        background: none;
        border: none;
        border-bottom: 3px solid black;
        border-radius: 0px;
        outline: none;
        text-align: center;
        font-size: 20px;
        transition: all 1s ease-in-out 0s;
      }
      select {
        display: inline;
        width: 45%;
        background: none;
        font-size: 20px;
        border: 3px solid black;
        transition: all 1s ease-in-out 0s;
      }
      select:focus {
        display: inline;
        width: 45%;
        background: none;
        font-size: 20px;
        border: 3px solid black;
      }
      button {
        font-size: 15px;
        font-weight: bold;
        background: none;
        padding: 5px 20px;
        color: black;
        transition: color 1s ease 0s;
        border: 5 none;
        border-radius: 20px;
        border-color: black;
        cursor: pointer;
        box-shadow: none;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, tranform;
        transition-property: box-shadow, transform;
      }
      button:hover,
      button:focus,
      button:active {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #00c9ff, #92fe9e);
  opacity: 1;
  z-index: -1;
  transition: all 1s ease-in-out 0.5s;
}
#joinChat {
  transition: all 1s ease 0s;
}
.form-group {
  transition: all 1s ease-in-out 0s;
}
.dark-mode {
  color: white;
  h1 {
    color: white;
  }

  select {
    color: white;
    border: 3px solid white;
  }

  input {
    color: white;
  }
  select:focus {
    border: 3px solid white;
  }
  #joinChat {
    color: white;
  }
}
.dark-mode::before {
  opacity: 0;
}
/*
===================================
    ***Avatars***
===================================
*/

.profile {
  width: 124px;
  height: 124px;
  margin: 0 auto;
  border-radius: 50%;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  &:hover {
    cursor: pointer;
  }
}
/*
=============================================
       ******Modal Related SCSS********
============================================
*/
.modal_div {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  // padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease 0s;
  p.btn--close-modal {
    display: block;
    text-align: right;
    margin: 0 10px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
  }
}
.modal_box {
  width: 400px;
  height: 340px;
}
/*
=============================================
       ******Slider Related SCSS********
============================================
*/

.slideshow-container {
  position: relative;
  overflow: hidden;
  .mySlides {
    width: 400px;
    height: 240px;
    margin: 0 auto;


  }
}

.mySlides {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 20px;
  position: absolute;
  top: 0px;
  transition: transform 1s;

  img {
    // vertical-align: middle;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    cursor: pointer;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 33%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: grey;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 10px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(41, 129, 151, 0.8);
}

a.next:hover {
  color: white;
}
a.prev:hover {
  color: white;
}
/* Caption text */
.text {
  color: grey;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: grey;
  font-size: 12px;
  padding: 12px 16px;
  position: absolute;
  display: block;
  top: 0px;
}
.dotBox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition: all 0.3s;
}
.selectDot {
  background-color: #13b8ff !important;
  width: 20px;
  height: 20px;
  // transition: all 0.6s;
 
}
.active,
.dot:hover {
  background-color: #717171;
}

/*
=============================================
       ******Overlay Related Scss********
============================================
*/
.overlay_div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  transition: all 0.7s;
  opacity: 0.5;
  visibility: visible;
}
.overlay_hidden {
  opacity: 0;
  visibility: hidden;
}
img {
  transition: all 1s;
}

i.fa.fa-check.icon_check{
  position: absolute;
  font-weight: lighter;
  font-weight: 50;
  top: 174px;
  left: 64%;
  font-size: 40px;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a6ff;
}
i.fa.fa-check.icon_check.hidden1{
  display: none;
}
/*

=============================================
       ******Dark MODE OF modal Scss********
============================================
*/
.dark-mode {
  .darkModal {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  }
  .darkClose {
    background-color: #d7a385b3;
  }
}
@media (max-height: 768px) {
  body {
    .main-div {
      min-height: 55vh;
    }
  }
}
@media (max-width: 768px) {
  body {
    .main-div {
      padding: 5% 5% 7% 5%;
    }
    .heading {
      h1 {
        font-size: 3rem;
      }
    }
    .main-div {
      form {
        .form-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        input:focus {
          width: 85%;
        }

        input {
          width: 85%;
        }
        select {
          width: 85%;
          text-align: center;
        }
        select:focus {
          text-align: center;
          width: 85%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    .heading {
      h1 {
        font-size: 2.75rem;
      }
      iframe {
        width: 15%;
      }
    }
    .profile {
      width: 84px;
      height: 84px;
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
  .modal_div {
    width: 280px;
    height: 280px;
    p.btn--close-modal {
      font-size: 2rem;
    }
  }
  .modal_box {
    width: 280px;
    height: 250px;
  }
  .mySlides {
    img {
      width: 160px;
      height: 160px;
    }
  }
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
  .prev {
    left: 5px;
    
  }
  .next {
    right: 5px;
  
  }
  .selectDot {
    background-color: #13b8ff !important;
    width: 15px;
    height: 15px;
    // transition: all 0.6s;
   
  }
  
  .dot {
    width: 10px;
    height: 10px;
  }
  .slideshow-container {
    .mySlides {
      width: 280px;
      height: 240px;
    }
    height: 240px !important;
  }
  i.fa.fa-check.icon_check{
    top: 118px;
    font-size: 22px;
    width: 35px;
    height: 35px;
  }

  
}

@media (max-width: 800px) {
}
.hidden {
  opacity: 0;
  visibility: hidden;
}


//avatar form scss
#addAvatar {
  text-align: center;
  margin: 20px 0;
  h5{
    font-weight: 500;
    color: #000000;
  }
  #fileInp {
    margin: 20px auto;
    position: relative;
    display: block;
    background: #000000;
    color: #5bc0de;
    border-radius: 8px;
  }

  #upload{
    display: block;
    margin: 20px auto;
    width: 80px;
    height: max-content;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    color: black;
    background: #5bc0de;
    border-radius: 8px;
    cursor: pointer;
  }
}
