@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");

$dark-color-a: #00adb5;
$dark-color-b: #393e46;
$light-color: #eeeeee;
$light-color-b: #eeeeeed0;
$success-color: #222831;
$error-color: #d9534f;
$transitionchange: all 1s ease 0s;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    // background-color: #FFDEE9;
    // background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    background-image: linear-gradient(90deg, rgb(0, 40, 70), rgb(255, 115, 115), rgb(255, 175, 123));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    // background: $light-color;
    margin: 20px;
}
body * {
    transition: all 0.5s linear;
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(90deg, #01cafe 0%, #60ecbf 100%);
    opacity: 1;
    z-index: -1;
    transition: all 0.5s linear;
}
#toggle {
    width: 60px;
    height: 30px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 160px;
    background: white;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    .indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        background: black;
        transform: scale(0.9);
        border-radius: 50%;
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2),
            inset 0 -4px 4px rgba(255, 255, 255, 0.2);
        transition: 0.5s;
    }
}
#toggle.active .indicator {
    left: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: $light-color;
    color: $dark-color-a;
    border: 0;
    font-size: 17px;
}

/* Chat Page */

.chat-container {
    border-radius: 20px;
    max-width: 1100px;
    background: #fff;
    margin: 40px auto;
    overflow: hidden;
    opacity: 1;
    box-shadow: 10px 10px 58px 3px rgba(0, 0, 0, 0.75);
    border: 1px solid #393e46;
}

.chat-header {
    background: #00adb5;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    .main-heading {
        font-family: "Gluten", cursive;
    }
}

.chat-main {
    display: grid;
    min-height: 60vh;
    // margin-bottom: 5vh;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: $dark-color-b;
    color: #fff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
    min-height: 60vh;
}

.chat-sidebar h2 {
    font-size: 20px;
    padding: 10px;
}
.room-name-container {
    height: 45px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.1);
}
.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main,
.chat-messages,
.chat-sidebar {
    max-height: 64vh;
}
.chat-messages {
    padding: 30px;
    max-height: 64vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat-messages .message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem auto 1rem 1rem;
    color: black;
    background: #e5e5ea;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    animation: scale-up-tl 700ms;
}

.chat-messages .author {
    position: relative;
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    color: white;
    background: #0b93f6;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    animation: scale-up-br 700ms;
}

.message.bot {
    position: relative;
    margin: 1rem auto 1rem auto;
    padding: 10px 10px 15px;
    color: white;
    background: #948e8e;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: $light-color-b 5px 5px;
    width: 75%;
    height: 11%;
    text-align: center;
    vertical-align: middle;
    animation: fadeDown 700ms ease-out 0s 1 normal none;
}
.message.bot p {
    max-width: none !important;
}
.chat-messages .author:hover {
    background: #f3201380;
}
.chat-messages .author:hover .btn-danger {
    opacity: 1;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: $dark-color-b;
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
    padding-left: 0.6em;
}
.chat-messages .message p {
    max-width: 300px;
    word-break: break-all;
}
.chat-messages .author .meta {
    font-size: 15px;
    font-weight: bold;
    color: $light-color;
    opacity: 0.7;
    margin-bottom: 7px;
}
.chat-messages .author p {
    max-width: 300px;
    word-break: break-all;
}
.chat-messages .author .meta span {
    color: $light-color-b;
    padding-left: 0.6em;
    opacity: 1;
}

.message.bot .meta {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 7px;
    display: none;
}

.message.bot .meta span {
    color: rgb(82, 80, 80);
    padding-left: 0.6em;
}

.chat-form-container {
    padding: 20px 30px;
    background: #00adb5;
}

.editing-form-container {
    position: relative;
}
.editing-form-container::before {
    position: absolute;
    content: "Editing a message";
    top: -20px;
    left: 50px;
    padding: 0.5rem;
    background: navajowhite;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type="text"] {
    position: relative;
    font-size: 16px;
    padding: 5px 15px;
    height: 50px;
    flex: 1;
}

.message_input {
    overflow: hidden;
    padding: 15px;
    // border: solid blue 1px;
    border: none;
    border-radius: 1.5em;
    box-shadow: 0 3px 4px rgb(41, 39, 39);
    margin-top: 2.5px;
    outline: none;
}

.message_send_btn {
    background: rgba(0, 255, 149, 0.349);
}

/* Join Page */
.join-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
    transition: $transitionchange;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: $dark-color-a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.join-main {
    padding: 30px 40px;
    background: $dark-color-b;
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type="text"] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}
.dark-mode {
    background-image: linear-gradient(90deg, rgb(0, 40, 70), rgb(255, 115, 115), rgb(255, 175, 123));
    .chat-header {
        background: rgb(0, 40, 70);
        transition: $transitionchange;
    }
    .chat-sidebar {
        background: rgb(255, 115, 115);
        transition: $transitionchange;
    }
    .chat-form-container {
        background: rgb(0, 40, 70);
        transition: $transitionchange;
    }
    .btn {
        color: rgb(0, 40, 70);
        transition: $transitionchange;
    }
    .chat-main {
        background: rgba(0, 0, 0, 0.849);
        transition: $transitionchange;
    }
    .message_send_btn {
        background: rgb(119, 0, 255);
    }
    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
    }
}
.dark-mode::before {
    opacity: 0;
}
.btn-danger {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: #f32013;
    opacity: 0;
}
.btn-danger-edit {
    left: 30%;
}

.btn-danger:hover {
    background: #a20900;
}

#beep1,
#beep2 {
    display: none;
}

.dot-animation {
    position: relative;
    margin-right: 0.5rem;
}
.dot-animation::after {
    position: absolute;
    content: "";
    animation: dotdot 1s infinite;
}
.edited-msg {
    position: relative;
    margin-right: 0.5rem;
}
.edited-msg::after {
    content: "(edited)";
    font-size: 0.75rem;
    font-family: monospace;
    font-weight: 300;
    opacity: 0.75;
}
@keyframes dotdot {
    0% {
        content: ".";
    }
    50% {
        content: "..";
    }
    100% {
        content: "...";
    }
}
@media (max-width: 1200px) {
    .chat-container {
        margin: 60px auto;
    }
}
@media (max-width: 700px) {
    .chat-main {
        display: block;
        max-height: 60vh;
    }
    .chat-messages {
        height: 60vh;
    }
    .chat-sidebar {
        display: none;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-9-30 12:47:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2021-9-30 12:51:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2021-10-16 10:42:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-br
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2021-10-16 10:46:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}
@keyframes scale-up-tl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@-webkit-keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}
@keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

@-webkit-keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00adb5;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}
::-webkit-scrollbar-button:single-button {
    background-color: #bbbbbb;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}
@keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

.animate {
    animation: shimmer 15s infinite linear;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 4%, rgba(0, 0, 0, 0.01) 35%, rgba(0, 0, 0, 0.1) 55%);
    background-size: 1000px 100%;
}

.fade-in {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

/*
==============================================
 *********User List avtar related css********
==============================================
*/
.users {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.userAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.userAvatar1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.profileAdded{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin: 0 5px;
        width: 30px;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

/*
==============================================
 *********Message related profiles********
==============================================
*/
.profileLeft{
    display: flex;
    // flex-direction: row-reverse;
    align-items: center;
}
.profileRight{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut ease 1.5s;
    -webkit-animation: fadeOut ease 1.5s;
    -moz-animation: fadeOut ease 1.5s;
    -o-animation: fadeOut ease 1.5s;
    -ms-animation: fadeOut ease 1.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-15px);
    }
    100% {
        opacity: 0.8;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 0.8;
        transform: translateY(0);
    }
}
